body {
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    background: white;
    padding: 30px;
    margin: 50px auto;
    width: 50%;
    text-align: center;
}

.container {
    display: flex;
}

.question-panel {
    width: 70%;
    padding: 20px;
}

.nav {
    width: 30%;
    background: #ddd;
    padding: 10px;
}

.top {
    background: black;
    color: white;
    padding: 10px;
}
.nav-btn {
    margin: 4px;
    padding: 8px;
}

.attempted {
    background-color: #3498db;
    color: white;
}

.correct {
    background-color: #2ecc71 !important;
    color: white;
}

.wrong {
    background-color: #e74c3c !important;
    color: white;
}

.correct-answer {
    border: 2px solid green;
    padding: 5px;
}
