<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<script src="/static/quiz.js"></script>
</head>

<body onload="startTimer({{time}})">

<div class="top">
<h3>Quiz Mode</h3>
<div id="timer"></div>
<a href="/bank">My Question Bank</a>
</div>

<div class="container">

<div class="question-panel">

{% for q in questions %}

<div class="question" id="q{{loop.index}}" style="display:none">

<h3>Question {{ current + 1 }} / {{ total }}</h3>

<p>{{ questions[current].question }}</p>

<div class="options">
{% for option in questions[current].options %}
    <label>
        <input type="radio" name="answer">
        {{ option }}
    </label><br>
{% endfor %}
</div>


<hr>

<h4>Save This Question</h4>

Subject:  
<input id="subject{{loop.index}}" list="subs"><br>

Topic:  
<input id="topic{{loop.index}}" list="topics"><br>

Subtopic:  
<input id="subtopic{{loop.index}}"><br><br>

<button onclick="saveQuestion({{loop.index}})">
Save to My Bank
</button>

<br><br>

<button onclick="prev({{loop.index}})">Previous</button>
<button onclick="next({{loop.index}}, {{total}})">Next</button>

</div>

{% endfor %}

</div>

<div class="nav">

<h4>Navigate</h4>

{% for q in questions %}
<button onclick="jump({{loop.index}})">{{loop.index}}</button>
{% endfor %}

</div>

</div>

<script>
show(1);
</script>

</body>
</html>

